*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html, body{
	background-color: #F3EAC5;
}

nav{
	z-index: 20;
	background-color: #FFF;
	color: #000;
	height: 200px;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

nav .brand-logo{
	color: #000;
}

nav ul a{
	color: #000;
}

nav>.nav-wrapper>img{
	margin-left: 35%;
	margin-top: 30px;
}

nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 40px;
	z-index: 30;
}
#noFormation{
	
}

#page{
	position: absolute;
}

#socialmedia{
	height: 20px;
	width: 66px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
}

#socialmedia a{
	width: 20px;
}

#socialmedia img{
	border-radius: 3px;
	width: 20px;
	height: 20px;
}

#scroll-nav{
	z-index: 20;
	position: fixed;
	top:-200px;
	height: 80px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#scroll-nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 0px;
}

#scroll-nav>.nav-wrapper>.brand-logo>img{
	margin-top: 0px;
	width: 80px;
}

#scroll-nav>.nav-wrapper>img{
	margin-left: 40%;
	margin-top: 15px;
	width: 200px;
}

#twitterimg{
	margin: 3px;
}

.row{
	margin-bottom: 0;
}

.row1{
	padding-top:20px; 
}

.container{
	width: 100%;
	z-index: 999;
	max-width: none;
	padding: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.color{
	color: #7BBA42;
}

.card-panel{
	padding: 0;
}

.teal{
	background-color: #FFF !important;
}

.card-header, .card-content{
	padding: 30px;
}

.card-title{
	padding: 30px;
	background-color: #7BBA42;
}

.card-header>h2, .card-title>h3{
	margin: 0;
	text-align: left;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.card-header>h2{
	color: #cfd1d5;
	text-align: center;
}

.card-header>h3{
	color: #cfd1d5;
	text-align: center;
}

.card-panel>p{
	clear: both;
	margin-bottom: 5%;
	width: 100%;
	margin-left: 5%;
	padding: 30px;
	margin: 0;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #403c3a;
}

.btn{
	background-color: #7BBA42;
}

.btn:hover{
	background-color: #385e2d;
}

.bouton-connection{
	margin-top: 30px;
}

.connexion>a{
	color: #7BBA42;
	margin-top: -10px;
}

.connexion>a:hover{
	color: #385e2d;
	text-decoration: underline;
}

.connexion>.right{
	float: right !important;
}

.connexion>.left{
	float: left !important;
}

.card-action>input{
	width: inherit;
	margin-bottom: 0 !important;
}

footer{
	height:300px;
	background-color: #385e2d;
	box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.16), 0px -5px 10px 0px rgba(0, 0, 0, 0.12);
}

/*1029 px pour le calendrier*/
@media screen and (max-width: 995px) {
	nav .brand-logo{
		left: 100px;
		color: #000;
	}
}

@media screen and (max-width: 860px) {
}

/**********************/
/** PAGE INSCRIPTION **/
/**********************/
.formulaire{
	margin-top: 8.33333%;
	margin-bottom: 8.33333%;
}

.inscription{
	margin-top: 2%;
	margin-bottom: 2%;
}

.header-small>h2{
	font-size: 2.4em;
}

/********************/
/** PAGE DOCUMENTS **/
/********************/
.indent {
	text-indent: 40px;
}

.card-content {
	padding-top: 0px;
}

.form-group{
	padding: 30px;
	margin: 0 auto;
	width: 90%
}
.form-active{
    font-weight: bold;
}

input, select{
	margin-bottom: 45px !important;
}

.col>.button{
	font-size: 1em !important;
	margin-bottom: 45px !important;
	margin-top: 21px !important;
}

.col>label{
	font-size: 1.2em !important;
}

.card-panel form{
	padding: 50px;
}

.supp{
	float: right;
}