*{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

html, body{
	background-color: #F3EAC5;
}

nav{
	z-index: 20;
	background-color: #FFF;
	color: #000;
	height: 200px;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
}

nav .brand-logo{
	color: #000;
}

nav ul a{
	color: #000;
}

nav>.nav-wrapper>img{
	margin-left: 35%;
	margin-top: 30px;
}

nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 40px;
	z-index: 30;
}

#scroll-nav{
	z-index: 20;
	position: fixed;
	top:-200px;
	height: 80px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

#scroll-nav>.nav-wrapper>.hamburglar{
	float: right;
	margin-top: 0px;
}

#scroll-nav>.nav-wrapper>.brand-logo>img{
	margin-top: 0px;
	width: 80px;
}

#scroll-nav>.nav-wrapper>img{
	margin-left: 40%;
	margin-top: 15px;
	width: 200px;
}

.row{
	margin-bottom: 0;
}

.row1{
	padding-top:20px; 
}

.container{
	width: 100%;
	z-index: 999;
	max-width: none;
	padding: 30px;
	padding-left: 40px;
	padding-right: 40px;
}

.color{
	color: #7BBA42;
}

.card-panel{
	padding: 0;
}

.teal{
	background-color: #FFF !important;
}

.card-header{
	padding: 30px;
}

.card-title{
	padding: 30px;
	background-color: #7BBA42;
}

.card-header>h2, .card-title>h3{
	margin: 0;
	text-align: left;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.card-header>h2{
	color: #cfd1d5;
	text-align: center;
}

.card-panel>p{
	padding: 30px;
	margin: 0;
	text-align: justify;
	font-size: 1.1em;
	line-height: 1.5em;
	color: #403c3a;
}

.btn{
	background-color: #7BBA42;
}

.btn:hover{
	background-color: #385e2d;
}

.bouton-connection{
	margin-top: 30px;
}

.connexion>a{
	margin-top: 15px;
	color: #7BBA42;
}

.connexion>a:hover{
	margin-top: 15px;
	color: #385e2d;
	text-decoration: underline;
}

.connexion>.right{
	float: right;
}

.connexion>.left{
	float: right;
}

footer{
	height:300px;
	background-color: #385e2d;
	box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.16), 0px -5px 10px 0px rgba(0, 0, 0, 0.12);
}

/*1029 px pour le calendrier*/
@media screen and (max-width: 995px) {
	nav .brand-logo{
		left: 100px;
		color: #000;
	}
}

@media screen and (max-width: 860px) {
}

/**********************/
/** PAGE INSCRIPTION **/
/**********************/
.formulaire{
	margin-top: 8.33333%;
	margin-bottom: 8.33333%;
}

.inscription{
	margin-top: 5%;
}