
p {
    margin-top: 0px;
}


fieldset {
    margin-bottom: 15px;
    padding: 10px;
    width: 450px;
    height: 300px;
}

legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
}

label {
    display: block;
    width: 110px;
    float: left;
}

em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

input:focus {
    background: #eaeaea;
}

input[type=submit] {
    width: 150px;
    padding: 10px;
}
