nav ul a,
nav .brand-logo {
  color: #7bba42;
}

.color{
  color: #7bba42;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #7bba42;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

#logo-container img{
  height: 60px;
  margin-top: 2px;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  
  #logo-container img{
    height: 52px;
    margin-top: 2px;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
  color: #7bba42
}

footer.page-footer {
  margin: 0;
}